DATABASE_URL="mysql://386007_fanou:bF346Xjg3Hu9eG@mysql-aebersoldlocator.alwaysdata.net:3306/aebersoldlocator_aebersold?serverVersion=10.11.9&sslmode=require"
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1|aebersold-locator-v5-mdesklcwv-stephanes-projects-b10db427.vercel.app)(:[0-9]+)?$'